.card-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  list-style-type: none;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 10px;
  margin: 30px;
  font-family:;
}

.details-container {
  margin-left: 50px;
}

.image-url {
  height: 200px;
  width: 500px;
}

.avatar-url {
  height: 30px;
  width: 30px;
  border-radius: 20px;
}

.flex-container {
  display: flex;
}

.title {
  font-size: 20px;
}
.topic {
  color: #000000;
}
.author {
  font-size: 10px;
  margin-left: 10px;
  color: black;
}

.link-container {
  text-decoration: none;
}
